@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', sans-serif;
    background-color: rgb(14, 13, 13);
}
p, h1{
    color: white;
}
.header{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    padding-left: 20px;
    width: 40px;
    height: 40px;
}
.header .header-tools{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-tools p{
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
}
.image-background{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: url(img/imagem-moda.png);
    background-position: 50% 50%;
    margin-left: 14px;
    width: 98vw;
    height: 60vh;
}
.image-background h1{
    text-shadow: #0f0f0f 3px 3px;
}
